{# Template overrides #}
{% extends "layout.html" %}
{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/back.njk' import back as back %}

{% from ScenarioPath + 'macros/status.njk' import status as status %}
{% from ScenarioPath + 'macros/repayment-row.njk' import repayment as repaymentRow %}

{% set cardPayment = Debt.cardPayments | last %}


{% block header %}
  {{ keyDetails(Person) }}
  {{ back() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <section class="section js-validation-group">
        <div class="govuk-error-summary js-validation-message js-validation--hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#payment-success">Select if the card payment was successful</a>
                </li>
              </ul>
            </div>
          </div>
        
        <div class="govuk-form-group js-validate" data-js-valid="false" >
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Take card payment</span>
              <h1 class="govuk-fieldset__heading">
                Was the payment successful?
              </h1>
            </legend>

            <span id="full-name-input-error" class="govuk-error-message js-validation--hidden">
              <span class="govuk-visually-hidden">Error:</span> Select yes if the card payment was successful, or no if it failed.
            </span>

            <div class="govuk-radios" >
              <div class="govuk-radios__item">
                <input class="govuk-radios__input js-radioRequired" id="payment-success" name="payment-success" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="payment-success">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input js-radioRequired" id="payment-success-2" name="payment-success" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="payment-success-2">
                  No
                </label>
              </div>
            </div>

            {# <div class="govuk-input__wrapper js-validate" data-js-valid="false">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5 js-textRequired js-currencyValidation" id="amount-repaid" name="amount-repaid" type="text" spellcheck="false">
            </div> #}

          </fieldset>
        </div>

        {{ govukButton({
          text: "Next",
          href: Breadcrumbs.debtDetails.url + "/card-payment-amount",
          name: "next-button",
          classes: "js-submit-validation"
        }) }}
      </section>




    </div>
    
  </div>

{% endblock %}