{# Template overrides #}
{% extends "layout.html" %}
{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/back.njk' import back as back %}
{% from ScenarioPath + 'macros/status.njk' import status as status %}
{% from ScenarioPath + 'macros/repayment-row.njk' import repayment as repaymentRow %}
{% from ScenarioPath + 'macros/checked-if-value.njk' import checkedIfValue as checkedIfValue %}



{% block header %}
  {{ keyDetails(Person) }}
  {{ back() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <section class="section js-validation-group">
        <div class="govuk-error-summary js-validation-message js-validation--hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#payment-successful">Select if the card payment was successful</a>
                </li>
              </ul>
            </div>
          </div>
        
        <form class="form" action="{{ Breadcrumbs.debtDetails.url + '/card-payment-amount/' + CardPayment.orderCode }}" method="post">
          <div class="govuk-form-group js-validate" data-js-valid="false" >
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Take card payment</span>
                <h1 class="govuk-fieldset__heading">
                  Was the payment successful?
                </h1>
              </legend>

              <span id="full-name-input-error" class="govuk-error-message js-validation--hidden">
                <span class="govuk-visually-hidden">Error:</span> Select yes if the card payment was successful, or no if it failed.
              </span>

              {{ CardPayment | dump }}

              <div class="govuk-radios" >
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input js-radioRequired" id="payment-successful" name="cardPaymentForm[paymentSuccessful]" type="radio" value="true" {{ checkedIfValue(CardPayment.paymentSuccessful, true) }}>
                  <label class="govuk-label govuk-radios__label" for="payment-successful">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input js-radioRequired" id="payment-successful-2" name="cardPaymentForm[paymentSuccessful]" type="radio" value="false" {{ checkedIfValue(CardPayment.paymentSuccessful, false) }}>
                  <label class="govuk-label govuk-radios__label" for="payment-successful-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          {{ govukButton({
            text: "Next",
            classes: "js-submit-validation"
          }) }}
        </form>
      </section>




    </div>
    
  </div>

  <a href="/prototype-admin/clear-data">Clear data</a>

{% endblock %}