{# Template overrides #}
{% extends "layout.html" %}
{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/back.njk' import back as back %}


{% block header %}
  {{ keyDetails(Person) }}
  {{ back() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <section class="section ">

          <span class="govuk-caption-l">Take card payment</span>
          <h1 class="govuk-heading-l">
            Confirm diary entry
          </h1>

          <p class="govuk-!-margin-bottom-8">
            If you want to edit your answers, select 'Change' in the diary entry details below. Confirm the diary entry and select 'Finish' when you are done.
          </p>

          <h2 class="govuk-heading-m">
            Diary entry details
          </h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Order Code
              </dt>
              <dd class="govuk-summary-list__value">
                {{ CardPayment.orderCode }}
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment successful
              </dt>
              <dd class="govuk-summary-list__value">
                {% if CardPayment.paymentSuccessful %}
                  Yes
                {% else%}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ Breadcrumbs.debtDetails.url + '/card-payment-success/' + CardPayment.orderCode }}">
                  Change<span class="govuk-visually-hidden"> payment successful</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ CardPayment.paymentAmount.toFixed(2) }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ Breadcrumbs.debtDetails.url + '/card-payment-amount/' + CardPayment.orderCode }}">
                  Change<span class="govuk-visually-hidden"> payment amount</span>
                </a>
              </dd>
            </div>
          </dl>

          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m">
              Diary entry
            </h2>
            {% if CardPayment.paymentSuccessful %}
              <p>A card payment of £{{ CardPayment.paymentAmount.toFixed(2) }} successfully received via PCI Pal. Order code: {{ CardPayment.orderCode }}</p>
            {% else%}
              <p>A card payment of £{{ CardPayment.paymentAmount.toFixed(2) }} attempted via PCI Pal. Payment failed. Order code: {{ CardPayment.orderCode }}</p>
            {% endif %}
          </div>

          {{ govukButton({
              text: "Finish",
              href: Breadcrumbs.debtDetails.url + '/card-payment-confirmation/' + CardPayment.orderCode,
              classes: ""
            }) }}
        </form>
      </section>


    </div>
    
  </div>

{% endblock %}