{# Template overrides #}
{% extends "layout.html" %}
{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/back.njk' import back as back %}

{% from ScenarioPath + 'macros/status.njk' import status as status %}
{% from ScenarioPath + 'macros/repayment-row.njk' import repayment as repaymentRow %}


{% block header %}
  {{ keyDetails(Person) }}
  {{ back() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <section class="section js-validation-group">
        <div class="govuk-error-summary js-error-summary js-validation--hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li id="payment-amount-summary-error" class="js-money-error js-validation--hidden">
                  <a href="#payment-amount">Enter a valid payment amount</a>
                </li>
                <li id="payment-amount-summary-error2" class="js-money-error js-validation--hidden">
                  <a href="#payment-amount">Enter a valid payment amount</a>
                </li>
                <li id="payment-amount-summary-error3" class="js-money-error js-validation--hidden">
                  <a href="#payment-amount">Enter a valid payment amount</a>
                </li>
              </ul>
            </div>
          </div>

        <form class="form" action="{{ Breadcrumbs.debtDetails.url + '/card-payment-check-answers/' + CardPayment.orderCode }}" method="post">
          <div class="govuk-form-group js-validate js-money " data-js-valid="false">
            <span class="govuk-caption-l">Take card payment</span>
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="cost">
                Payment amount
              </label>
            </h1>

            <div id="payment-amount-hint" class="govuk-hint">
              The amount paid on PCIpal for this transaction only.<br>Payment amount can include or exclude pence, like 12.34 or 56.  
            </div>

            <span id="payment-amount-empty-error" class="govuk-error-message js-error-message js-validation--hidden">
              <span class="govuk-visually-hidden">Error:</span> Enter payment amount
            </span>

            <span id="payment-amount-min-error" class="govuk-error-message js-error-message js-validation--hidden">
              <span class="govuk-visually-hidden">Error:</span> Payment amount must be £0.01 or more
            </span>

            <span id="payment-amount-invalid-error" class="govuk-error-message js-error-message js-validation--hidden">
              <span class="govuk-visually-hidden">Error:</span> Payment amount must only include numers 0 to 9, and only one decimal point if including pence
            </span>

            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5 js-validate-field" id="payment-amount" name="cardPaymentForm[paymentAmount]" type="text" spellcheck="false" {% if CardPayment.paymentAmount != null %}value="{{ CardPayment.paymentAmount.toFixed(2) }}"{% endif %}  >
            </div>

          </div>

          {{ govukButton({
              text: "Next",
              classes: "js-submit-validation"
            }) }}
        </form>
      </section>


    </div>
    
  </div>

  <a href="/prototype-admin/clear-data">Clear data</a>

{% endblock %}