{# Template overrides #}
{% extends "layout.html" %}

{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/breadcrumbs.njk' import breadcrumbs as breadcrumbs %}
{% from ScenarioPath + 'macros/repayment-debt-row.njk' import debt as repaymentDebtRow %}

{% block header %}
  {{ keyDetails(Person) }}
  {{ breadcrumbs(links=Breadcrumbs) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
 
      <section class="section">
        <h2 class="govuk-heading-m">
          {{ Repayment.method }}
        </h2>
        <dl class="govuk-clearfix govuk-section-break--l  ">
          <div class="key-values govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Repayment amount</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ Repayment.repaid.toFixed(2) }}</dd>
          </div>
        </dl>

        <div class="govuk-clearfix govuk-!-margin-top-5">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">    
            
            {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-0',
                rows: [              
                  {
                    key: {
                      text: "Repayment received",
                      class: "govuk-table__header"
                    },
                    value: {
                      text: Repayment.datetime | date,
                      format: "numeric"
                    }
                  }
                ]
              }) }}  
          </div>
        </div>
      </section>

      <hr>

      <section class="govuk-!-margin-bottom-2">
        <h2 class="card-title govuk-heading-m govuk-!-font-weight-regular">
          Repayment allocations
        </h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Account number</th>
                <th scope="col" class="govuk-table__header">Debt</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for debt in Debts | sort(true, true, 'id') %}
                {{ repaymentDebtRow(debt = debt, breadcrumbs = Breadcrumbs.debtSummary.url ) }}
              {% endfor %} 
            </tbody>
          </table>

        </section>
    </div>
    
  </div>

{% endblock %}