//https://dwp-design-examples.herokuapp.com/example/key-details-bar
// Note - this code for prototype purposes only. It is not production code.

// @import 'colours';

$white-transparent: rgba(255, 255, 255, .3);

.key-details-bar {
  @include govuk-font(19, $weight: normal);
  background-color: govuk-colour("blue");

  .key-details-bar__key-details {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 30px;
    position: relative;
    @media(max-width: 670px) {
      padding: 20px 15px;
    }

    * {
      color: govuk-colour("white");
    }

    .key-details-bar__top-block,
    .key-details-bar__bottom-block {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }
    }

    .key-details-bar__bottom-block {
      border-top: 1px solid $white-transparent;
      content: ' ';
      padding-top: 10px;
      margin-top: 6px;
      @media(max-width: 670px) {
        border: 0;
      }
    }

    dd,
    dt {
      float: left;
      margin-left:0;
      margin-right: 5px;
      @media(max-width: 670px) {
        float: none;
        font-size: 16px;
        margin: 0;
      }
    }

    dd {
      margin-right: 20px;
      @media(max-width: 670px) {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .key-details-bar__name {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11111;
      margin-right: 10px;
      @media(max-width: 670px) {
        font-size: 24px;
        line-height: 1.04167;
        float: left;
        margin: 0 5px 0 0;
      }
    }

    .key-details-bar__nino {
      font-size: 24px;
      line-height: 1;
      margin-top: 12px;
      @media(max-width: 670px) {
        font-size: 18px;
        float: left;
        margin: 5px 0 0 0;
      }
    }

    .key-details-bar__status {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
      padding: 5px 8px 0;
      color: #005ea5;
      background-color: #fff;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;

      float: right;
      margin: 5px 0 0;
      @media(max-width: 670px) {
        font-size: 14px;
        float: left;
        clear: both;
        margin-top: 5px;
      }
    }
  }
}