.card {
    border: wf-border(1) govuk-colour("mid-grey") solid;
    padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(2);
    margin-bottom: govuk-spacing(4);

    .govuk-main-wrapper {
        padding: govuk-spacing(0);
    }
}

.title-inline-total {
    float: left;
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(0);
}

.title-total {
    float: right;
    text-align: right;

    [class^='govuk-heading-'] {
        display: inline;
        margin-left: govuk-spacing(2);
    }
}

.card-elevated {
    border: none;
    background-color: govuk-colour("light-grey");
    padding: govuk-spacing(4) govuk-spacing(6) govuk-spacing(2);
    margin-bottom: govuk-spacing(4);

    .govuk-main-wrapper {
        padding: govuk-spacing(0);
    }
}

