{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
 
      {% include "includes/citizen-header.html" %}

      <section class="section">
        <h2 class="govuk-heading-m">
          Universal Credit Advance (New Claims)
        </h2>
        <dl class="govuk-clearfix govuk-section-break--l key-values ">
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Original balance</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£500.00</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Paid</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£60.00</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Owed</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£440.00</dd>
          </div>
        </dl>

        <div class="govuk-clearfix govuk-!-margin-top-5">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">    
            
            {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-0',
                rows: [              
                  {
                    key: {
                      text: "Advance received",
                      class: "govuk-table__header"
                    },
                    value: {
                      text: "05/01/2021",
                      format: "numeric"
                    }
                  },
                  {
                    key: {
                      text: "Next payment date"
                    },
                    value: {
                      text: "31/03/2021"
                    }
                  }
                ]
              }) }}  
          </div>
        </div>
      </section>

      <hr>

      {# <div class="card-elevated govuk-section-break--xl">
          <div class="govuk-width-container govuk-!-padding-top-0">
            <div class="govuk-main-wrapper">
              <h2 class="govuk-heading-m">
                Universal Credit Advance (New Claims)
              </h2>
              <dl class="govuk-grid-row govuk-section-break--l govuk-!-margin-bottom-2">
                <div class="govuk-grid-column-one-third">
                  <dt class="govuk-caption-m govuk-!-margin-bottom-0">Original balance</dt>
                  <dd class="govuk-heading-l govuk-!-margin-left-0">£500.00</dd>
                </div>
                <div class="govuk-grid-column-one-third">
                  <dt class="govuk-caption-m govuk-!-margin-bottom-0">Paid</dt>
                  <dd class="govuk-heading-l govuk-!-margin-left-0">£60.00</dd>
                </div>
                <div class="govuk-grid-column-one-third">
                  <dt class="govuk-caption-m govuk-!-margin-bottom-0">Owed</dt>
                  <dd class="govuk-heading-l govuk-!-margin-left-0">£440.00</dd>
                </div>
              </dl>

              

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half ">    
                 
                  {{ govukSummaryList({
                      classes: '',
                      rows: [              
                        {
                          key: {
                            text: "Advance received",
                            class: "govuk-table__header"
                          },
                          value: {
                            text: "05/01/2021",
                            format: "numeric"
                          }
                        },
                        {
                          key: {
                            text: "Next payment date"
                          },
                          value: {
                            text: "31/03/2021"
                          }
                        }
                      ]
                    }) }}  
                </div>
              </div>
            </div>
          </div> 
      </div> #}


      <section class="govuk-!-margin-bottom-2">
        <h2 class="card-title govuk-heading-m govuk-!-font-weight-regular">
          Payment history
        </h2>

        {{ govukTable({
            classes: "",
            firstCellIsHeader: false,
            
            head: [
              {
                text: "Date"
              },
              
              {
                text: "Payment Method"
              },
              {
                text: "Paid",
                format: "numeric"
              }
            ],

            rows: [
              [
                {
                  text: "12/12/2020"
                },
                {
                  text: "Universal Credit deduction (£50.00)"
                },
                {
                  text: "£20.00",
                  format: "numeric"
                }
              ],
              [
                {
                  text: "12/11/2020"
                },
                {
                  text: "Universal Credit deduction (£50.00)"
                },
                {
                  text: "£20.00",
                  format: "numeric"
                }
              ],
              [
                {
                  text: "12/10/2020"
                },
                {
                  text: "Universal Credit deduction (£50.00)"
                },
                {
                  text: "£20.00",
                  format: "numeric"
                }
              ]
            ]
          }) }}
        </section>
    </div>
    
  </div>

{% endblock %}