{# Template overrides #}
{% extends "layout.html" %}

{% block footer %}{% endblock %}

{# Import macros #}
{% from ScenarioPath + 'macros/header.njk' import header as header %}
{% from ScenarioPath + 'macros/key-details.njk' import keyDetails as keyDetails %}
{% from ScenarioPath + 'macros/activity.njk' import activity as activityItem %}
{% from ScenarioPath + 'macros/breadcrumbs.njk' import breadcrumbs as breadcrumbs %}


{% set debtRows = [] %}
{% set repaymentRows = [] %}
{% set totalBalance = 0 %}
{% set totalRepaid = 0 %}


{% for debt in Person.debts | sort(true, true, 'debtStart') %}

    {% set repaid = 0 %}
    
    {% for repayment in Person.repayments %}
        {% for allocation in repayment.allocations %}
        
            {% if allocation.debtId == debt.id %}
                {% set repaid = repaid + allocation.amount %}
            {% endif %}

        {% endfor %}
    {% endfor %}

  {% set debtRows = (debtRows.push(
    [{
      html: '<a href="' + Breadcrumbs.debtSummary.url + '/debt-details/' + debt.id + '" class="govuk-link">' + debt.title + '</a>' 
    },
    {
      text: "£" + debt.originalBalance.toFixed(2),
      format: "numeric"
    },
    {
      text: "£" + repaid.toFixed(2),
      format: "numeric"
    },
    {
      text: "£" + (debt.originalBalance - repaid).toFixed(2),
      format: "numeric"
    }]), debtRows) %}

  {% set totalBalance = totalBalance + debt.originalBalance %}
  
{% endfor %}

{% for repayment in Person.repayments | sort(true, true, 'datetime') %}
    {% set totalRepayment = 0 %}

    {% for allocation in repayment.allocations %}
        {% set totalRepayment = totalRepayment + allocation.amount %}
    {% endfor %}


    {% set repaymentRows = (repaymentRows.push(
        [{
        text: repayment.datetime | date
        },
        {
        html: '<a href="' + Breadcrumbs.debtSummary.url + '/repayment-details/' + repayment.id + '" class="govuk-link">' + repayment.method + '</a>' 
        },
        {
        text: "£" + totalRepayment.toFixed(2),
        format: "numeric"
        }]), repaymentRows) %}

    {% set totalRepaid = totalRepaid + totalRepayment %}
{% endfor %}

{% block header %}
  {{ keyDetails(Person) }}
{% endblock %}

{% block content %}
{{ breadcrumbs(links=Breadcrumbs) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
 
        <section class="section">
        <h2 class="govuk-heading-m">
          Debt overview
        </h2>
        <dl class="govuk-clearfix govuk-section-break--l key-values ">
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Total balance</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ totalBalance.toFixed(2) }}</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Total repaid</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ totalRepaid.toFixed(2) }}</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Total owed</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ (totalBalance - totalRepaid).toFixed(2) }}</dd>
          </div>
        </dl>

 

        <div class="govuk-clearfix govuk-!-margin-top-9">
          <h3 class="govuk-heading-m govuk-!-font-weight-regular">
            Debts ({{ Person.debts.length }}) 
          </h3>

          {{ govukTable({
            classes: "",
            firstCellIsHeader: false,
            
            head: [
              {
                text: "Description"
              },
              {
                text: "Original balance",
                format: "numeric"
              },
              {
                text: "Amount repaid",
                format: "numeric"
              },
              {
                text: "Amount owed",
                format: "numeric"
              }

            ],

            rows: debtRows
          }) }}
        </div>
      </section>

      <section class="govuk-!-margin-bottom-2">
        <h3 class="govuk-heading-m govuk-!-font-weight-regular">
          Repayment history</a>
        </h3>

        {{ govukTable({
            classes: "",
            firstCellIsHeader: false,
            
            head: [
              {
                text: "Date"
              },
              
              {
                text: "Repayment Method"
              },
              {
                text: "Amount",
                format: "numeric"
              }
            ],

            rows: repaymentRows
          }) }}
      </section>

      <section class="govuk-!-margin-bottom-2">
        <h2 class="card-title govuk-heading-m">
          Recent activity {# <a href="#" class="govuk-body govuk-link">see all <span class="govuk-visually-hidden">activities</span></a> #}
        </h2>

        <hr class="govuk-!-margin-bottom-2">

        <div class="govuk-grid-row govuk-!-padding-3">
          <div class="activity-list govuk-clearfix">

             {% for activity in Person.activities | sort(true, true, 'datetime') %}
                {{ activityItem(activity=activity) }}
            {%endfor%} 
        
          </div>
        </div>
      </section>

    </div>
  </div>

{% endblock %}