header, section {
    padding-bottom: govuk-spacing(4);
}

hr {
    border-color: govuk-colour("light-grey");
    margin: 0 0 govuk-spacing(8);

}

// Key details overrides
.dm-ordercode-dt-width {
    width: 15%;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}