header, section {
    padding-bottom: govuk-spacing(4);
}

hr {
    border-color: govuk-colour("light-grey");
    margin: 0 0 govuk-spacing(8);

}



.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.visibly-hidden {
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: circle(0);
    transform: scale(0);
}