{% set totalRepaid = 0 %}
{% set debtRepaidEqual = 0 %}
  
{% set repayments = [
    {
        date: "12/02/2021",
        description: "Universal Credit deduction",
        amount: 30.00
    },
    {
        date: "12/01/2021",
        description: "Universal Credit deduction",
        amount: 30.00
    },
    {
        date: "12/12/2020",
        description: "Universal Credit deduction",
        amount: 30.00
    },
    {
        date: "12/11/2020",
        description: "Universal Credit deduction",
        amount: 30.00
    },
    {
        date: "12/10/2020",
        description: "Universal Credit deduction",
        amount: 30.00
}] %}


{% set debts = [
    {
        description: "Universal Credit Advance (New Claims) 3",
        balance: 300.00
    },
    {
        description: "Budgeting Advance",
        balance: 400.00
    },
    {
        description: "Universal Credit Advance (New Claims) 1",
        balance: 500.00
  }] %}

{% for repayment in repayments %}
    {% set totalRepaid = totalRepaid + repayment.amount %}
{% endfor %}

{% set debtRepaidEqual = totalRepaid / debts.length %}