{% set debts = [
  {
    description: "Universal Credit Advance",
    balance: 300.00,
    repaid: 80.00
  },
  {
    description: "Universal Credit Advance 2",
    balance: 400.00,
    repaid: 80.00
  },
  {
    description: "Universal Credit Advance 3",
    balance: 500.00,
    repaid: 80.00
  }] %}

  {% set repayments = [
    {
        date: "12/02/2021",
        description: "Universal Credit deduction",
        repaid: 20.00
    },
    {
        date: "12/01/2021",
        description: "Universal Credit deduction",
        repaid: 20.00
    },
    {
        date: "12/12/2020",
        description: "Universal Credit deduction",
        repaid: 20.00
    },
    {
        date: "12/11/2020",
        description: "Universal Credit deduction",
        repaid: 20.00
    },
    {
        date: "12/10/2020",
        description: "Universal Credit deduction",
        repaid: 20.00
    }] %}