{# Template overrides #}
{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{# Import macros #}
{% from 'multiple-advances-v1/macros/header.njk' import header as header %}
{% from 'multiple-advances-v1/macros/breadcrumbs.njk' import breadcrumbs as breadcrumbs %}


{% set totalRepaid = 0 %}
{% set repaymentRows = [] %}

{% for repayment in Repayments %}

    {% set repaymentRows = (repaymentRows.push(
        [{
          text: repayment.datetime 
        },
        {
          html: '<a href="../repayment-details/' + repayment.id + '" class="govuk-link">' + repayment.method + '</a>' 
        },
        {
        text: "£" + repayment.amount.toFixed(2),
        format: "numeric"
        }]), repaymentRows) %}

    {% set totalRepaid = totalRepaid + repayment.amount %}
{% endfor %}


{% block content %}
{{ breadcrumbs(links=Breadcrumbs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
 
      {{ header(name=Person.name, nino=Person.nino, onBenefit=Person.onBenefit, benefits=Person.benefits) }}

      <section class="section">
        <h2 class="govuk-heading-m">
          {{ Debt.title }}
        </h2>
        <dl class="govuk-clearfix govuk-section-break--l key-values ">
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Original balance</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ Debt.originalBalance.toFixed(2) }}</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Amount repaid</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ totalRepaid.toFixed(2) }}</dd>
          </div>
          <div class="key-values-col govuk-grid-column-one-third">
            <dt class="govuk-caption-m govuk-!-margin-bottom-0">Amount owed</dt>
            <dd class="govuk-heading-l govuk-!-margin-left-0">£{{ (Debt.originalBalance - totalRepaid).toFixed(2) }}</dd>
          </div> 
        </dl>

        <div class="govuk-clearfix govuk-!-margin-top-5">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">    
            
            {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-0',
                rows: [              
                  {
                    key: {
                      text: "Advance received",
                      class: "govuk-table__header"
                    },
                    value: {
                      text: Debt.debtStart,
                      format: "numeric"
                    }
                  },
                  {
                    key: {
                      text: "Next repayment due"
                    },
                    value: {
                      text: "12/03/2021"
                    }
                  }
                ]
              }) }}  
          </div>
        </div>
      </section>

      <hr>

      <section class="govuk-!-margin-bottom-2">
        <h2 class="card-title govuk-heading-m govuk-!-font-weight-regular">
          Repayment history
        </h2>

        {{ govukTable({
            classes: "",
            firstCellIsHeader: false,
            
            head: [
              {
                text: "Date"
              },
              
              {
                text: "Repayment Method"
              },
              {
                text: "Amount",
                format: "numeric"
              }
            ],

            rows: repaymentRows
          }) }}
        </section>
    </div>
    
  </div>

{% endblock %}