{% extends "layout_unbranded.html" %}
{% set htmlClasses = "background-colour-overide" %}
{% set bodyClasses = "background-colour-overide" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Debt Management Service Prototype</h1>
        <nav>
          <h2 class="govuk-heading-m">Debt Picture #1</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="debt-picture-1/debt-picture-1.html">Debt Picture 1</a></li>
            <li><a class="govuk-link" href="debt-picture-1/debt-picture-2.html">Debt Picture 2</a></li>
          </ul>

          <h2 class="govuk-heading-m">Debt Picture #2</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="debt-picture-2/debt-details.html">David Ross - Single UC Advance</a></li>
          </ul>

          <h2 class="govuk-heading-m">Multiple Advances</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="multiple-advances-2/person/1">David Ross - Multiple Advances</a></li>
          </ul> 
        </nav>
    </div>
  </div>

{% endblock %}