{# Template overrides #}
{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% set htmlClasses = "background-colour-overide" %}
{% set bodyClasses = "background-colour-overide" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Debt Management Service Prototype</h1>
        <nav>
          <h2 class="govuk-heading-m">Debt Picture version 1</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="debt-picture-v1/debt-picture.html">Debt Picture</a></li>
            <li><a class="govuk-link" href="debt-picture-v1/debt-picture-payments.html">Debt Picture (Payments)</a></li>
          </ul>

          <h2 class="govuk-heading-m">Debt Picture version 2</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="debt-picture-v2/debt-details.html">David Ross - UC Advance (single)</a></li>
          </ul>

          <h2 class="govuk-heading-m">Multiple Advances version 1</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="multiple-advances-v1/person/1">David Ross - Multiple Advances (single)</a></li>
          </ul> 
          <h2 class="govuk-heading-m">Suspened Recovery version 1</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/scenario/suspended-recovery/v/1/person/2">Gemma McDonald - Universal Credit Overpayment (UCOP)</a></li>
          </ul> 
          <h2 class="govuk-heading-m">Suspened Recovery version 2</h2>
          <ul class="govuk-list">
            <li>
              Take card payment - <a class="govuk-link" href="/scenario/suspended-recovery/v/2/person/2">Gemma McDonald - Universal Credit Overpayment (UCOP)</a>
            </li>
            <li>
              Full payment received - <a class="govuk-link" href="/scenario/suspended-recovery/v/2/person/3">Gemma McDonald - Universal Credit Overpayment (UCOP)</a>
            </li>
            <li>
              Partial payment received - <a class="govuk-link" href="/scenario/suspended-recovery/v/2/person/4">Gemma McDonald - Universal Credit Overpayment (UCOP)</a>
            </li>
          </ul> 
        </nav>
    </div>
  </div>

{% endblock %}